

html {
    font-size: 20px;
    font-family: sans-serif;
    /* background: url(../images/Pngtree.png); */
    /* background: url(../images/_1DSC0035.JPG); */

    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    width: 100%;
    background: url(../images/Pngtree.png) rgb(56, 56, 179);
    background-attachment: fixed;
    display: block;
    position: fixed;
}

.logo {
    display: inline-block;
    padding: 10px 20px;
}

.navbar-items {
    float: right;
    margin-top: 0%;
    padding-right: 20px;
}

.navbar-items li {
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
}
.navbar a {
    font-size: 1.2em;
    color: #ffffff; 
    /* padding: 10px 20px; */
}
a {
    text-decoration: none;
}
    
  
a:hover, a:focus {
    color: #e8abee;
    text-shadow: 0 0 10px;
} 

.top-header {
    background: url(../images/lake-como-index.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-size: 100%;
    width: 100vw;
    height: 500px;
    text-align: center;
    padding: 50px 0 0 0;
}
.blog-post {
    box-shadow: 0 0 10px;
    padding: 10px 10px;
    background-color: rgb(203, 248, 248);
    margin: 20px;
    overflow: auto;
}

.article-text {
    padding: 30px;
}
.blog-post--image {
    margin: auto 10px;
}
.float-right {
    float: right;
    margin: 0 0 0 15px;
    width: 300px;
}
main {
    float: left;
    width: 70%;
    padding: 0 1.5em;
}

