

html {
    font-size: 20px;
    font-family: sans-serif;
    background: url(../images/Pngtree.png);
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    margin-left: 2rem;
}

p {
    margin-left: 2rem;
}

.navbar {
    width: 100%;
    background: url(../images/Pngtree.png) rgb(56, 56, 179);
    background-attachment: fixed;
    display: block;
}

.logo {
    margin-left: 2em;
    display: inline-block;
    padding: 10px 0px;
}

.navbar-items {
    float: right;
    margin-top: 0%;
    padding-right: 2em;
}

.navbar-items li {
    list-style: none;
    display: inline-block;
    margin-left: 2em;  
    padding: 10px 10px;
}
.navbar a {
    font-size: 1.2em;
    font-style: bold;
    color: #ffffff; 
    padding: 10px 20px;
}
a {
    text-decoration: none;
}
    
  
a:hover, a:focus {
    color: #e8abee;
    text-shadow: 0 0 10px;
} 

.top-header {
    background: url(../images/lake-como-index.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-size: 100%;
    width: 100vw;
    height: 500px;
    text-align: center;
}
.blog-post {
    box-shadow: 0 0 10px;
    padding: 10px 10px;
    background-color: rgb(203, 248, 248);
    margin: 20px;
    overflow: auto;
}

.blog-post--image {
    margin: auto 10px;
}
.float-right {
    float: right;
    margin: 0 0 0 15px;
    width: 300px;
}
main {
    float: left;
    width: 70%;
    padding: 0 1.5em;
}

